In [1]:
print("The first thing we shall do is say\nHello World!")

The first thing we shall do is say
 Hello World!

In [2]:
print("Hello world \n") #comment

Hello world

In [3]:
name = "Krittika"
print("Hello, my name is %s"% name)
print("Hello, my name is{}".format(name))
print(f"Hello, my name is {name}")

Hello, my name is Krittika
Hello, my name isKrittika
Hello, my name is Krittika

In [4]:
name = "Krittika, The Astronomy Club of IIT Bombay"

In [8]:
integer = 1
floating_point = 3.14
complex_number = 3 + 4j
boolean_variable = True
print(f'{type(complex_number)}')
print(f'{type(floating_point)}')
print(f'{type(boolean_variable)}')
print(type(integer))

<class 'complex'>
<class 'float'>
<class 'bool'>
<class 'int'>

In [12]:
a = 1
b = 2
print(a+b)
print("a+b = {}".format(a+b))
print(a**b)

3
a+b = 3
1

In [14]:
tuple1=('a', 'c', 'z', 1, 5, 99, "sexy")
print(tuple1)

('a', 'c', 'z', 1, 5, 99, 'sexy')

In [16]:
print(tuple1[1:5])

('c', 'z', 1, 5)

In [1]:
nested = [[1, 2, 3], ['a', 'b', 'c'], ['astro', 'cosma'], 8, 99]
print(nested)

[[1, 2, 3], ['a', 'b', 'c'], ['astro', 'cosma'], 8, 99]

In [4]:
nested[1] = 'number'
print(nested)

[[1, 2, 3], 'number', ['astro', 'cosma'], 8, 99]

In [6]:
nested.append(['pluto', 'jupiter'])
print(nested)

[[1, 2, 3], 'number', ['astro', 'cosma'], 8, 99, ['pluto', 'jupiter']]

In [8]:
nested.remove(['pluto', 'jupiter'])
print(nested)

[[1, 2, 3], 'number', ['astro', 'cosma'], 8, 99]

In [10]:
del nested[1:4]
print(nested)

[[1, 2, 3], 99]

In [5]:
with open('Moons_and_planets.csv', 'r') as f:
    lines = f.read().split('\n')

In [6]:
del lines[0]

In [7]:
data_moons = []
for line in lines:
    data_moons.append(line.split(','))

In [8]:
mer,ven,ear,mar,jup,sat,ura,nep,plu=[0,0,0,0,0,0,0,0,0]

In [9]:
del data_moons[len(data_moons)-1]

In [10]:
for i in range(len(data_moons)):
    if data_moons[i][1] == 'Mercury':
        mer = mer + 1
    elif data_moons[i][1] == 'Venus':
        ven = ven + 1
    elif data_moons[i][1] == 'Earth':
        ear = ear + 1
    elif data_moons[i][1] == 'Mars':
        mar = mar + 1
    elif data_moons[i][1] == 'Jupiter':
        jup = jup + 1
    elif data_moons[i][1] == 'Saturn':
        sat = sat + 1
    elif data_moons[i][1] == 'Uranus':
        ura = ura + 1
    elif data_moons[i][1] == 'Neptune':
        nep = nep + 1
    elif data_moons[i][1] == 'Pluto':
        plu = plu + 1
print(mer,ven,ear,mar,jup,sat,ura,nep,plu)

0 0 1 2 79 82 27 14 5

In [11]:
print("{:<15}{:<8}{:>5}".format("Moon", "Planet", "Diameter"))
print("-"*30)
for i in data_moons:
    print(f"{i[0]:<15}{i[1]:<8}{i[2]:>5}")

Moon           Planet  Diameter
------------------------------
Moon           Earth   1737.1
Phobos         Mars     11.1
Deimos         Mars      6.2
Io             Jupiter 1818.1
Europa         Jupiter 1560.7
Ganymede       Jupiter 2634.1
Callisto       Jupiter 2408.4
Amalthea       Jupiter  83.5
Himalia        Jupiter  67.0
Elara          Jupiter  43.0
Pasiphae       Jupiter  30.0
Sinope         Jupiter  19.0
Lysithea       Jupiter  18.0
Carme          Jupiter  23.0
Ananke         Jupiter  14.0
Leda           Jupiter  10.0
Thebe          Jupiter  49.3
Adrastea       Jupiter   8.2
Metis          Jupiter  21.5
Callirrhoe     Jupiter   4.3
Themisto       Jupiter   4.0
Megaclite      Jupiter   2.7
Taygete        Jupiter   2.5
Chaldene       Jupiter   1.9
Harpalyke      Jupiter   2.2
Kalyke         Jupiter   2.6
Iocaste        Jupiter   2.6
Erinome        Jupiter   1.6
Isonoe         Jupiter   1.9
Praxidike      Jupiter   3.4
Autonoe        Jupiter   2.0
Thyone         Jupiter   2.0
Hermippe       Jupiter   2.0
Aitne          Jupiter   1.5
Eurydome       Jupiter   1.5
Euanthe        Jupiter   1.5
Euporie        Jupiter   1.0
Orthosie       Jupiter   1.0
Sponde         Jupiter   1.0
Kale           Jupiter   1.0
Pasithee       Jupiter   1.0
Hegemone       Jupiter   1.5
Mneme          Jupiter   1.0
Aoede          Jupiter   2.0
Thelxinoe      Jupiter   1.0
Arche          Jupiter   1.5
Kallichore     Jupiter   1.0
Helike         Jupiter   2.0
Carpo          Jupiter   1.5
Eukelade       Jupiter   2.0
Cyllene        Jupiter   1.0
Kore           Jupiter   1.0
Herse          Jupiter   1.0
S/2010 J 1     Jupiter   1.0
S/2010 J 2     Jupiter   0.5
Dia            Jupiter   2.0
S/2016 J 1     Jupiter   3.0
S/2003 J 18    Jupiter   1.0
S/2011 J 2     Jupiter   0.5
Eirene         Jupiter   2.0
Philophrosyne  Jupiter   1.0
S/2017 J 1     Jupiter   2.0
Eupheme        Jupiter   1.0
S/2003 J 19    Jupiter   1.0
Valetudo       Jupiter   0.5
S/2017 J 2     Jupiter   1.0
S/2017 J 3     Jupiter   1.0
Pandia         Jupiter   1.0
S/2017 J 5     Jupiter   1.0
S/2017 J 6     Jupiter   1.0
S/2017 J 7     Jupiter   1.0
S/2017 J 8     Jupiter   0.5
S/2017 J 9     Jupiter   1.0
Ersa           Jupiter   1.0
S/2011 J 1     Jupiter   0.5
S/2003 J 2     Jupiter   1.0
S/2003 J 4     Jupiter   1.0
S/2003 J 9     Jupiter   0.5
S/2003 J 10    Jupiter   1.0
S/2003 J 12    Jupiter   0.5
S/2003 J 16    Jupiter   1.0
S/2003 J 23    Jupiter   1.0
Mimas          Saturn  198.2
Enceladus      Saturn  252.3
Tethys         Saturn  536.3
Dione          Saturn  562.5
Rhea           Saturn  764.5
Titan          Saturn  2575.5
Hyperion       Saturn  138.6
Iapetus        Saturn  734.5
Phoebe         Saturn  106.6
Janus          Saturn   90.4
Epimetheus     Saturn   58.3
Helene         Saturn   16.0
Telesto        Saturn   12.0
Calypso        Saturn    9.5
Atlas          Saturn   15.3
Prometheus     Saturn   46.8
Pandora        Saturn   40.6
Pan            Saturn   12.8
Ymir           Saturn    9.0
Paaliaq        Saturn   11.0
Tarvos         Saturn    7.5
Ijiraq         Saturn    6.0
Suttungr       Saturn    3.5
Kiviuq         Saturn    8.0
Mundilfari     Saturn    3.5
Albiorix       Saturn   16.0
Skathi         Saturn    4.0
Erriapus       Saturn    5.0
Siarnaq        Saturn   20.0
Thrymr         Saturn    3.5
Narvi          Saturn    3.5
Methone        Saturn    1.6
Pallene        Saturn    2.0
Polydeuces     Saturn   1.25
Daphnis        Saturn    3.8
Aegir          Saturn    3.0
Bebhionn       Saturn    3.0
Bergelmir      Saturn    3.0
Bestla         Saturn    3.5
Farbauti       Saturn    2.5
Fenrir         Saturn    2.0
Fornjot        Saturn    3.0
Hati           Saturn    3.0
Hyrrokkin      Saturn    4.0
Kari           Saturn    3.5
Loge           Saturn    3.0
Skoll          Saturn    3.0
Surtur         Saturn    3.0
Anthe          Saturn    1.0
Jarnsaxa       Saturn    3.0
Greip          Saturn    3.0
Tarqeq         Saturn    3.5
Aegaeon        Saturn   0.33
S/2004 S 7     Saturn    3.0
S/2004 S 12    Saturn    2.5
S/2004 S 13    Saturn    3.0
S/2004 S 17    Saturn    2.0
S/2006 S 1     Saturn    3.0
S/2006 S 3     Saturn    3.0
S/2007 S 2     Saturn    3.0
S/2007 S 3     Saturn    3.0
S/2009 S 1     Saturn   0.15
S/2004 S 20    Saturn    3.0
S/2004 S 21    Saturn    3.0
S/2004 S 22    Saturn    3.0
S/2004 S 23    Saturn    4.0
S/2004 S 24    Saturn    3.0
S/2004 S 25    Saturn    4.0
S/2004 S 26    Saturn    4.0
S/2004 S 27    Saturn    6.0
S/2004 S 28    Saturn    4.0
S/2004 S 29    Saturn    4.0
S/2004 S 30    Saturn    3.0
S/2004 S 31    Saturn    4.0
S/2004 S 32    Saturn    4.0
S/2004 S 33    Saturn    4.0
S/2004 S 34    Saturn    3.0
S/2004 S 35    Saturn    6.0
S/2004 S 36    Saturn    3.0
S/2004 S 37    Saturn    4.0
S/2004 S 38    Saturn    4.0
S/2004 S 39    Saturn    3.0
Ariel          Uranus  578.9
Umbriel        Uranus  584.7
Titania        Uranus  788.9
Oberon         Uranus  761.4
Miranda        Uranus  235.8
Cordelia       Uranus   20.1
Ophelia        Uranus   21.4
Bianca         Uranus   25.7
Cressida       Uranus   39.8
Desdemona      Uranus   32.0
Juliet         Uranus   46.8
Portia         Uranus   67.6
Rosalind       Uranus   36.0
Belinda        Uranus   40.3
Puck           Uranus   81.0
Caliban        Uranus   21.0
Sycorax        Uranus   78.5
Prospero       Uranus   25.0
Setebos        Uranus   24.0
Stephano       Uranus   10.0
Trinculo       Uranus    9.0
Francisco      Uranus    6.0
Margaret       Uranus    5.5
Ferdinand      Uranus    6.0
Perdita        Uranus   15.0
Mab            Uranus    6.0
Cupid          Uranus    9.0
Triton         Neptune 1353.4
Nereid         Neptune 178.5
Naiad          Neptune  33.0
Thalassa       Neptune  41.0
Despina        Neptune  75.0
Galatea        Neptune  88.0
Larissa        Neptune  97.0
Proteus        Neptune 210.0
Halimede       Neptune  31.0
Psamathe       Neptune  20.0
Sao            Neptune  22.0
Laomedeia      Neptune  21.0
Neso           Neptune  30.0
Hippocamp      Neptune  17.4
Charon         Pluto   606.0
Nix            Pluto    23.0
Hydra          Pluto    30.5
Kerberos       Pluto    14.0
Styx           Pluto    10.0